/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: black; /* Ajout de la propriété background-color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid white;
    height: 70px;
    display: flex;
    align-items: center;
}


nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border: 2px solid cornflowerblue;
    padding: 10px 25px;
    border-radius: 10px;

}

nav ul li a:hover {
    color: #fff;
    border-color: #fff;
}

/* Styliser tous les rectangles de la même manière */
.rectangleLatice,
.rectangleVerger,
.rectangleRaytracing {
    width: 100%; 
    height: calc((100vh - 70px - 40px) / 3); 
    background-color: rgba(255, 255, 255, 0.1); 
    margin-bottom: 20px; 
}

/* Enlever la marge du dernier rectangle de chaque section */
section > div:last-child {
    margin-bottom: 0;
}

