/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100%;
    margin: 0;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', monospace;
}

/* ---------------------- Background Animation ---------------------- */

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------- Header ---------------------- */
header {
    background-color: rgba(0, 0, 0, 0.6); /* Ajout de transparence */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid white;
    height: 70px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border: 2px solid cornflowerblue;
    padding: 10px 25px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #fff;
    border-color: #fff;
}

/* Main content styles */
main.container {
    margin-top: 80px;
    position: relative;
    padding: 20px;
}


/* ---------------------- Timeline ---------------------- */

#timeline {
    position: absolute;
    width: 4px;
    background-color: white;
    height: 100%;
    left: 50%;
    z-index: 1;
}


.box {
    background-color: transparent;
    width: 45%;
    margin: 300px 0;
    padding: 30px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid white;
}


.left {
    margin-left: 5%;
}

.right {
    margin-left: 50%;
}


.language-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.language-image {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(25% - 10px);
    box-sizing: border-box;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.language-image:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
}

.language-image img {
    max-width: 70%;
    height: auto;
}


/* ---------------------- ToolTip ---------------------- */

.tooltip {
    position: absolute;
    top: 50%;
    left: -500px;
    transform: translateY(-50%);
    display: none;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    opacity: 0;
    overflow: auto;
    border: 2px solid white;
    animation: TranslationLanguage 0.5s ease;
}

@keyframes TranslationLanguage {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        transform: translateX(0) translateY(-50%);
    }
}

    

.tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.tools-image {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(25% - 10px);
    box-sizing: border-box;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.tools-image:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
}

.tools-image img {
    max-width: 70%;
    height: auto;
}

.tooltiptool {
    position: absolute;
    top: 50%;
    left: 570px;
    transform: translateY(-50%);
    display: none;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    opacity: 0;
    overflow: auto;
    border: 2px solid white;
    animation: TranslationTools 0.5s ease;
}

@keyframes TranslationTools {
    0% {
        transform: translateX(50%) translateY(-50%);
    }
    100% {
        transform: translateX(0) translateY(-50%);
    }
}

/* ---------------------- Rating ---------------------- */
.circle {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 2px solid cornflowerblue;
    background-color: transparent;
}


.ratingpython, 
.ratingjava, 
.ratingc, 
.rating, 
.ratingcsharp, 
.ratinghtml, 
.ratingcss, 
.ratingjs, 
.ratinglua, 
.ratingsql, 
.ratingintellij, 
.ratingdatagrip, 
.ratingpycharm, 
.ratingclion, 
.ratingfleet, 
.ratingvscode, 
.ratingvscodium, 
.ratingdocker, 
.ratinggitkraken {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.TitleToolTip {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.ratingcomment {
    font-size: 12px;
    font-style: italic;
    margin-top: 20px;
}
/* ---------------------- My Quality ---------------------- */
#my-quality {
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#my-quality h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #FFF;
}

#my-quality ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

#my-quality li {
    font-size: 1.2rem;
    margin-bottom: 12px;
    transform-origin: top;
    transition: opacity 0.5s, transform 0.5s, max-height 0.5s;
}


#my-quality li strong {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 5px rgba(255,255,255,0.3);
}

#my-quality li:nth-child(1) strong { background-color: #FF6B6B; }
#my-quality li:nth-child(2) strong { background-color: #4ECDC4; }
#my-quality li:nth-child(3) strong { background-color: #FFD166; }
#my-quality li:nth-child(4) strong { background-color: #9A67EA; }
#my-quality li:nth-child(5) strong { background-color: #FF5C8A; }
#my-quality li:nth-child(6) strong { background-color: #3498db; }
#my-quality li:nth-child(7) strong { background-color: #f39c12; }
#my-quality li:nth-child(8) strong { background-color: #2ecc71; }

/* ---------------------------------------------------------------------------------------- */
.TitleBox {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 38%;

} 